@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Reset */
html{ 
    font-size: 62.5%;  
}
body{
    font: 1.6rem sans-serif; 
    margin: 0;  
}
h1,h2,h3,h4,p,ol,ul,figure,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2,h3,h4{
    font-weight: normal;
}

:root{
    --color-theme-main: rgba(24, 27, 33, 0.725);
    --color-theme-secondary: #8B9DC3;
    --color-theme-last: #DFE3EE;
    --color-theme-default: #b6c7d3;
}

main{
    margin: 0 15%;
}

body{
    background-image: url("../asset/bckgrnd.jpg");
    background-attachment: fixed;
    background-position: center;    
    font-family: 'Oswald';
    color: #FFF;
}

header h1{
    background-color: var(--color-theme-main);
    text-align: center;
    margin-top: 2rem;
    margin-left: 25%;
    margin-right: 25%;
    padding: 4rem;
    border-radius: 2rem;
}

header img{
    position: absolute;
    height: 100px;
    width: 100px;
    padding-top: 1rem;
    padding-left: 3rem;
}

section{
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
}

div{
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
    }

main ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* définit les lignes et les tailles pour les colonnes de la grille. */
    gap: 2rem;
}

section p{
    text-align: center;
    margin-top: 10.0rem;
    margin: 5% 20%;
}

div img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* définit la façon dont le contenu d'un élément remplacé doit s'adapter à son conteneur en utilisant sa largeur et sa hauteur */
}

div a{
    padding: 2.0rem;
    text-align: center;
    background-color: var(--color-theme-main);
    font-size: larger;
    border-radius: 2rem;
    color: #FFF;
}

footer{
    text-align: center;
}

footer h2{
    background-color: var(--color-theme-main);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}

.image-box{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 7rem;
    padding: 1rem 80px;
}

fieldset legend{
    background-color: var(--color-theme-main);
    font-size: 2.5rem;
    padding: 1rem;
    border-radius:1.4rem;
}

fieldset{
    background-color: var(--color-theme-main);
    padding: 1rem;
    border: solid .1rem var(--color-theme-main);
    border-radius:1.4rem;
}

fieldset form *{
    display: block;
    width: 100%;
    line-height: 3.5rem;
    border: solid .1rem #FFF;
    margin-bottom: .5rem;
}

fieldset form label{
    padding-top: 3rem;
    font-size: large;
}

fieldset form label, fieldset small{
    border: 0;
}
fieldset small{
    font-style: italic;
    color: var(--color-theme-main);
}
fieldset form input[placeholder]{
    font-style: italic;
       
}
/* bordure en style */
fieldset form input{
    border: 0;
    border: solid .1rem transparent;
    border-bottom-color: rgb(180, 178, 178);
    width: 99%;
}
/* focus animé */
fieldset form input:focus{
    border-bottom-color: rgb(47, 148, 243);
    opacity: 1;
}
fieldset form input[placeholder]:focus{
    outline: 0;
    box-shadow: 0 0 1rem var(--color-theme-warning);
    background-color: var(--color-theme-default);   
}


fieldset form input{
    padding: .5rem;
}

fieldset form input[type="submit"]{
    background-color: var(--color-theme-main);
    color: #DFE3EE;
    border-radius: .4rem;
    text-transform: uppercase;
    letter-spacing: .01rem;
    cursor: pointer;
    margin: 0;
    margin-top: 1.5rem;
    font-size: initial;
    border: 0;
    width: 25%;
    opacity: 1;
}

/* Animation Grow */
.grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .grow:hover, .grow:focus, .grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); /* modifie l'espace de coordonnées utilisé pour la mise en forme visuelle */
  }

/* Animation Bob */
  @-webkit-keyframes bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .bob:hover, .bob:focus, .bob:active {
    -webkit-animation-name: bob-float, bob;
    animation-name: bob-float, bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

/* Responsive */
@media screen and (max-width: 40rem) {

    main, footer{
        width: auto;
        margin: 0;
    }

    main ul{
        grid-template-columns: repeat(1, 1fr);
    }

    div img{
        width: 35rem;
        height: auto;
    }

    header img{
        position: relative;    
    }

    header h1{
        margin: 2rem;
      }

    header{
        display: grid;
    }

    div{
        display: grid;
        column-gap: 20px;
    }

    main section h2{
        margin: 0;
    }

}